<h3>Diagnosing patient</h3>
<div class="col-md-6">
    <form class="form">
      <div class="form-group">
        <label for="country">Symptoms for patient</label>
        <ul>
          <li *ngFor="let a of foundSymptoms">
            {{a.name}}
            <button (click)="deleteSymptom(i)"> delete</button>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label for="search">Search symptoms</label>
        <input [(ngModel)]="searchText" placeholder="search text goes here" name="search">
       <ul>
          <li *ngFor="let m of symptoms | filter : searchText">
            {{m.name}} <button (click)="addSymptom(m)"> Add</button>
          </li>
        </ul>
      </div>
      <button (click)="diagnose()">Diagnose</button>
    </form>
</div>