<div class="container" *ngIf="isLoggedIn()">
    
    <nav class="navbar navbar-expand-sm bg-dark">

        <!-- Links -->
        <ul class="navbar-nav" *ngIf="getRole()=='ADMIN'">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="symptoms">Symptoms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="diseases">Diseases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="diseases">Medicine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="diseases">Medicine components</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="getRole()=='DOCTOR'">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
      
      </nav>

      <router-outlet></router-outlet>
</div>
<div class="container" *ngIf="!isLoggedIn()">
  
</div>
  