<div class="container" *ngIf="isLoggedIn()">
    
    <nav class="navbar navbar-expand-sm bg-dark">

        <!-- Links -->
        <ul class="navbar-nav" *ngIf="getRole()=='ADMIN'">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Odjavi me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="symptoms">Simptomi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="diseases">Bolesti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="diseases">Lijekovi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="diseases">Sastojci lijekova</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="getRole()=='DOCTOR'">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Odjavi me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="patients">Pacijenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reports">Izvjestaji</a>
          </li>
        </ul>
      
      </nav>

      <router-outlet></router-outlet>
</div>
<div class="container" *ngIf="!isLoggedIn()">
  <app-login></app-login>
</div>
  